* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.container {
  background-color: #f7f7f7;
  max-width: 1000px;
  min-height: 100vh;
  margin: 30px auto;
  padding: 10px;
  border-radius: 20px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 410px) {
  .form-control {
    border-radius: 2px;
    margin: 0.5rem 2rem;
    border: solid 1px black;
  }
  form {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;

    justify-content: center;
  }
  .btn {
    border-radius: 2px;
    cursor: pointer;
    background-color: #ffba5a;
  }
  .btn_reset {
    background-color: #ffba5a;
    border-radius: 2px;
    border: none;
    font-size: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
}

input {
  border: 1px solid #f7f7f7;
  padding: 10px;
  font-size: 16px;
}
input:focus {
  outline: none;
}
.form-control {
  border-radius: 10px;
  width: 400px;
}

.btn {
  border-radius: 10px;
  margin-left: 0.5rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  background-color: #ffba5a;
}
.btn_reset {
  padding: 0 1rem;
  margin-left: 0.5rem;
  background-color: #ffba5a;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.card {
  width: 200px;
  background-color: #fff;
  margin: 10px;
  border-radius: 5px;
  padding-bottom: 10px;
}

.card-image {
  width: 100%;
}
.card-body {
  padding: 10px;
  text-align: center;
}
.category {
  color: #a1a1a1;
}
a {
  background-color: #ffba5a;
  color: inherit;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}
